{
  "liliumTxOperatorMnemonic": "",
  "liliumTxOperatorMnemonicPw": "",
  "txOperatorMnemonic": "",
  "txOperatorMnemonicPw": "",
  "liliumFeeAddress": "",
  "liliumFeePercent": 5,
  "extraFeaturePercent": 2,
  "minTxOperatorFeeNanoErg": 1000000,
  "minerFeeNanoErg": 1523000,
  "minBoxValueNanoErg": 1000000,
  "nodeUrl": "http://213.239.193.208:9052",
  "apiUrl": "https://tn-ergo-explorer.anetabtc.io",
  "dataBaseKey": "",
  "dataBaseURL": ""
}
